.about-me {
    background-color: $primary-color;
    background-image: url("https://www.transparenttextures.com/patterns/lyonnette.png");
    background-blend-mode: overlay;
    // text-align: center;

    &__title {
        color: $secondary-color;
        font-family: $primaryfont;
        font-weight: bold;
        text-align: center;
        padding: 0.7em 0;
        font-size: $subtitlesize;
        text-shadow: rgb(12, 12, 12) 1px 1px 10px;
    }

    .worked-with {
        margin-top: 2em;
        color: $green-color;
        font-size: 1rem;
        text-shadow: rgb(231, 231, 231) 1px 0px 3px;
    }

    .dora-selfie {
        width: 60%;
        border-radius: 50px;
        border: $darkviolet solid 3px;
    }

    &__body {
        color: $darkviolet;
        font-size: $paragraphsize;
        font-family: $secondaryfont;
        padding-top: 3em;
        padding-bottom: 3em;
        line-height: 1.8;

        .achievements__title {
            margin-top: 2em;
            text-align: center;
            margin-top: 4em;
        }

        .matt-quote {
            font-size: 0.8em;
            padding: 1em 0;
            margin-bottom: 5em;
        }

        &--text {
            // margin-bottom: 5em;
            text-shadow: 3px 0px 10px#eff2ef;
        }
    }

    .achiements__list dl dd {
        font-size: 0.8em;
    }

    dd {
        margin-bottom: 2em;
        text-shadow: 1px 0px 9px#bedbbc;
    }

    &__quote {
        margin-block: 2em;
    }
}

.backing-img {
    height: 50vh;
    width: 100%;
    // background: url("../images/7.jpg") center center;
    // -webkit-background-size: auto 150%;
    background-size: cover;
    background-attachment: scroll;
    animation: animate 90s ease-in-out infinite;
}

@keyframes animate {
    0%,
    100% {
        background-image: url("https://res.cloudinary.com/da5ahdojl/image/upload/f_auto,q_auto/v1/about-me-background/wnidkigfutafime47s3r");
    }
    9% {
        background-image: url("https://res.cloudinary.com/da5ahdojl/image/upload/f_auto,q_auto/v1/about-me-background/xgoq5fggqqv8hpgsra6y");
    }
    18% {
        background-image: url("https://res.cloudinary.com/da5ahdojl/image/upload/f_auto,q_auto/v1/about-me-background/vaoajt0yxkmvrye5kr3g");
    }
    27% {
        background-image: url("https://res.cloudinary.com/da5ahdojl/image/upload/f_auto,q_auto/v1/about-me-background/r8hzrk8wtpbwsttmbojf");
    }
    36% {
        background-image: url("https://res.cloudinary.com/da5ahdojl/image/upload/f_auto,q_auto/v1/about-me-background/zkforx30u6ktehouxfnj");
    }
    45% {
        background-image: url("https://res.cloudinary.com/da5ahdojl/image/upload/f_auto,q_auto/v1/about-me-background/tndco88fwd9yyv1aa9cr");
    }
    54% {
        background-image: url("https://res.cloudinary.com/da5ahdojl/image/upload/f_auto,q_auto/v1/about-me-background/lucyptgkboayz8jl3xuu");
    }
    63% {
        background-image: url("https://res.cloudinary.com/da5ahdojl/image/upload/f_auto,q_auto/v1/about-me-background/ouhaddaxlpmlzujjcoxx");
    }
    72% {
        background-image: url("https://res.cloudinary.com/da5ahdojl/image/upload/f_auto,q_auto/v1/about-me-background/e5vsqwd68ndnweoydxim");
    }
    81% {
        background-image: url("https://res.cloudinary.com/da5ahdojl/image/upload/f_auto,q_auto/v1/about-me-background/cln6vstod4igksftbq2k");
    }
    91% {
        background-image: url("https://res.cloudinary.com/da5ahdojl/image/upload/f_auto,q_auto/v1/about-me-background/jodoq6hkhc1wmqiwoe0k");
    }
}

.achievements__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
}

.achievements__date {
    grid-column: span 4;
    font-weight: bold;
    margin-top: 2em;
}

.achievements__item {
    grid-column: span 4;
}

.testimonials h2 {
    color: $secondary-color;
    font-family: $primaryfont;
    font-weight: bold;
    text-align: center;
    padding: 0.7em 0;
    font-size: 3rem;
}

.testimonal-slider .carousel-item {
    height: 500px;
}

.projects__grid {
    &__span {
        grid-column: 1/5;
    }

    &__title {
        font-size: 1.124rem;
        font-weight: bold;
    }
    &__card {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        place-items: center;
        margin-top: 2em;
        padding: 1em;

        background-color: hsl(45, 100%, 90%);
        // filter: brightness(112%);
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        overflow: hidden;
    }
}

.text-card {
    background-color: $card-cream;
    padding: 2em 0.75em;
    border-radius: 0.375rem;
    margin-block: 2em;
    // filter: brightness(90%);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
