.about-me { 

    background: $primary-color;
    padding-top:10em;
    text-align:center;

    &__title{
        
        color: $secondary-color;
        font-family: $primaryfont;
        font-weight: bold;
        text-align: center;
        padding: 0.7em 0;
        font-size: $subtitlesize
    }

    .dora-selfie{
        width: 60%;
        border-radius: 50px;
        border: $darkviolet solid 3px;
    }

    &__body {
        
        color: $darkviolet;
        font-size: $paragraphsize;
        font-family: $secondaryfont;
        padding-top:3em;
        padding-bottom: 3em;
        line-height: 1.8;

        .achievements__title {
            margin-top:2em;

            
        }

        .matt-quote {
            font-size: 0.8em;
            padding: 1em 0;
        }
    }
    

    .achiements__list dl dd {
        font-size: 0.8em;
    }
    
}

.backing-img {
    height: 30vh;
    width: 100%;
    background: 
    // linear-gradient(
    // to right, 
    // rgba($primary-color, 0.8),
    // rgba($primary-color, 0.1)
    // ),
    url('../images/7.jpg') center center;
    -webkit-background-size: auto 150%;
    background-size:cover;
    background-attachment: scroll;
}

