.dora_email_main {
    color: rgb(145, 79, 164);
    font-size: 1.4rem;
    margin: 1em 0 2em 0;
}

.dora_email {
    text-decoration: underline;
    color: rgb(222, 235, 75);
}

.new__font {
    font-family: "Shrikhand", cursive;
    color: rgb(243, 240, 65);
    font-weight: 300;
}
