.dialog {
    background-color: #44c8f0;
    border: 1px solid $primary-color;
    position: absolute;
    margin-inline: auto;
    top: 20vh;
    padding: 2em;
    color: white;
    // height: 45vh;
    max-height: 900px;
    width: 80vw;
    max-width: 700px;
    opacity: 0.95;

    &__title {
        font-size: 2.5rem;
        text-shadow: black 1px 1px 1px;
    }

    &__sub {
        text-shadow: black 1px 1px 5px;
        margin-block: 2em;
        font-size: 1.25rem;
    }

    &__btn {
        display: inline-block;
        background-color: #4caf50;
        color: white;
        text-align: center;
        padding: 15px 25px;
        text-decoration: none;
        border-radius: 4px;
        border: none;
        cursor: pointer;
        font-size: 16px;
        margin-bottom: 1em;

        &:hover {
            background-color: #45a049;
        }
    }
    &__close-btn {
        position: absolute;
        left: 0;
        top: 0;
        padding: 0.1em 0.4em;
        text-align: center;
        border-radius: 20px;
        background-color: #e1e3e1;
        margin-left: 1px;
        margin-top: 1px;

        &:hover {
            cursor: pointer;
            opacity: 0.5;
        }
    }
}

#popup {
    display: none;
}
