.hero {
    background: $green-color;
    text-align: center;
    height: 100%;
    // margin: 0 auto;

    &__title{

        // flex-direction: column;
        justify-content: center;
        // height: 70%;
        padding-bottom:10em;
        // flex-wrap: wrap;
        
        
        h1 {
            font-size: $headersize;
            font-family: $headerfont;
            color: $primary-color;
            padding-top: 10%;
            
        }

        .violet {
            color: $secondary-color;
        }

        .hero__sub {
            color: $secondary-color;
            margin-top: 1em;
            font-size: $subtitlesize;
            font-family: $secondaryfont;
            padding-bottom: 3em;
            
        }
    }  
}