.hero {
    
    text-align: center;
    // height: 100%;
    // margin: 0 auto;

    
    .image-back {
       height: 100vh;
        width: 100%;
        background: 
        // linear-gradient(
        // to right, 
        // rgba($primary-color, 0.8),
        // rgba($primary-color, 0.1)
        // ),
        
        url('../images/new6.jpeg') center center;
        -webkit-background-size: auto 150%;
        // background-size:100% 100%;
        background-size:cover;
        
        background-attachment: scroll;
    }
    

    &__title{
        

        // flex-direction: column;
        justify-content: center;
        // max-height: 20vh;
        // padding-bottom:10em;
        // flex-wrap: wrap;

        

        
        
        
        h1 {
            background: $green-color;
            font-size: $headersize;
            font-family: $headerfont;
            color: $primary-color;
            padding: 0 0 0.5em 0;
            
        }

        .violet {
            color: $secondary-color;
        }

        .hero__sub {
            color: $primary-color;
            margin-top: 1.8em;
            font-size: $subtitlesize;
            font-family: $secondaryfont;
            padding-bottom: 3em;
            
        }
    }  
}