@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");

:root {
    --primary-color: #6c63ff;
    --secondary-color: #ff6584;
    --text-color: #2c2c2c;
    --bg-color: #f9f9f9;
    --card-bg: #ffffff;
}

#override {
    background-color: var(--bg-color);
}

.the-lodger {
    font-family: "Poppins", sans-serif;
    line-height: 1.6;
    color: var(--text-color);
    background-color: var(--bg-color);
    margin: 0;
    padding: 0;

    max-width: 1200px;
    // margin: 0 auto;
    //padding: 4rem 2rem;

    h1,
    h2 {
        font-weight: 700;
        color: var(--primary-color);
    }

    h1 {
        font-size: 3.5rem;
        text-align: center;
        margin-bottom: 3rem;
        letter-spacing: -1px;
    }

    h2 {
        font-size: 2.2rem;
        margin-top: 3rem;
        margin-bottom: 1.5rem;
    }
}

.show-description,
.tour-dates,
.audience-feedback,
.photoshoot-images,
.trailer {
    background-color: var(--card-bg);
    border-radius: 12px;
    padding: 1em;
    margin-bottom: 3rem;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.show-description:hover,
.tour-dates:hover,
.audience-feedback:hover,
.photoshoot-images:hover,
.trailer:hover {
    transform: translateY(-5px);
}

.poster-container {
}

.poster img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 12px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
}

.tour-dates ul {
    list-style-type: none;
    padding: 0;
}

.tour-dates li {
    margin-bottom: 1.5rem;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid #eaeaea;
}

.tour-dates li:last-child {
    border-bottom: none;
}

.tour-dates a {
    color: var(--secondary-color);
    text-decoration: none;
    font-weight: 600;
    transition: color 0.3s ease;
}

.tour-dates a:hover {
    color: var(--primary-color);
}

.audience-feedback blockquote {
    font-style: italic;
    border-left: 3px solid var(--secondary-color);
    padding-left: 1.5rem;
    margin: 1.5rem 0;
}

.poster {
    margin-bottom: 2em;
}

@media (max-width: 768px) {
    .the-lodger {
        //padding: 2rem 1rem;

        h1 {
            font-size: 2.5rem;
        }

        h2 {
            font-size: 1.8rem;
        }
    }
}

/* Add some subtle animations */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.show-description,
.tour-dates,
.audience-feedback,
.photoshoot-images,
.trailer {
    animation: fadeIn 1s ease-out;
}
