nav {
    text-align: center;

    ul {
        font-family: $secondaryfont;
        font-weight: bold;
    }

    li {
        padding: 0.5em 0;
       font-size: 1.8rem;
        
    }

    .nav-link {
        color: $green-color;
    }

    
}