/* md = 768px - 992px*/
@include media-md {

    .about-me .dora-selfie{
        width: 40%;
    }
    .shows__bastards {

        ul {    
            margin-left: 13%;
            width:90%;

            li {
                .whitespace {
                    margin-left: 6.5em;
                }
            }


            i {
                padding-right: 2em;

                
            }
        }
    }

    .shows__adhd img {
        width: 60%;
    }

    .contact .card2 {
        margin-top:0em;
    }

    .contact .card .facebook {
        margin-right: 3em;
    }

    .hero__title h1 {
        font-size: 5.3rem;
        padding: 0.5em 0;
    }
    .hero__title .hero__sub {
        font-size:3rem;
        padding-top: 1.8em;
    }
    
}

/* lg = 992px - 1200px*/
@include media-lg { 

    .nav-item{
        margin-right: 0.7em;

        &-last {
            margin-right:0.7em;
        }
    }
    .nav-item,
    .nav-item-last {
        font-size:1.2rem;
    }


    .hero__title h1 {
        font-size: 8.8rem;
    }

    .shows__adhd img {
        width: 80%;
    }

    .shows__adhd .adhd-video {
        width: 70%;
    }
    

    .shows .flowerpot-img {
        width: 50%;
    }

    .shows__bastards {

        ul {    
            margin-left: 13%;
            width:90%;

            li {
                font-size: 1.123rem;
                padding-top: 1em;
                .whitespace {
                    margin-left: 0em;
                }
            }


            i {
                padding-right: 2em;
            }
        }
    }

    .hero__title h1 {
        font-size: 4.4rem;
    }
    .hero__title .hero__sub {
        font-size:2.8rem;
    }

}


/* xl = 1200px */
@include media-xl { 
    
    .nav-item,
    .nav-item-last {
        font-size:1.4rem;
    }

   .about-me .dora-selfie {
        width: 60%;
    }

    .shows__adhd p {
        font-size:1.5rem;
    }

    .para2 {
        padding-top:3em;
    }

    .shows__adhd .adhd-video {
        width: 80%;
        height: 600px;
    }

    .shows__title,
    .about-me__title,
    .media__title {
        font-size:5rem;
    }

    .hero__title h1 {
        font-size: 6rem;
    }
    .hero__title .hero__sub {
        font-size:4rem;
    }
    

}



/* xxl = 1400px */
@include media-xxl {
    .hero__title h1 {
        font-size: 10rem;
    }
    .hero__title .hero__sub {
        font-size:6rem;
    }

    .nav-item,
    .nav-item-last {
        font-size:2.6rem;
    }
}