/* sm577 - 768px*/
@include media-sm {
    .contact .card .facebook {
        margin-right: 5em;
    }
    .overlay-inner {
        max-width: 700px;
    }
}

/* md = 768px - 992px*/
@include media-md {
    .container-fluid {
        width: 80%;
    }
    .about-me .dora-selfie {
        width: 40%;
    }
    .shows__bastards {
        ul {
            margin-left: 13%;
            width: 90%;

            li {
                .whitespace {
                    margin-left: 6.5em;
                }
            }

            i {
                padding-right: 2em;
            }
        }
    }

    .adhd-slider-images {
        width: 80%;
    }

    .media .music {
        width: 70%;
    }

    .contact .card2 {
        margin-top: 0em;
    }

    .contact .card .facebook {
        margin-right: 3em;
    }

    .hero__title h1 {
        font-size: 5.3rem;
        padding: 0.5em 0;
    }
    .hero__title .hero__sub {
        font-size: 3rem;
        padding-top: 1.8em;
    }

    .shows__bastards img {
        width: 75%;
    }

    .dates-center {
        display: flex;
        align-items: center;
    }
    .flex-dates p {
        font-size: 1rem;
    }
    .dora_email_main {
        font-size: 1.6rem;
    }
    .hero .hero__sub {
        max-width: 90%;
    }
    .overlay-inner {
        max-width: 600px;
    }
    .overlay img {
        max-height: 700px;
    }
}

/* lg = 992px - 1200px*/
@include media-lg {
    .about-me .worked-with {
        font-size: 1.5rem;
        margin-bottom: 4em;
    }

    .achievements__date {
        grid-column: 1/2;
        font-size: 1.12rem;
    }

    .achievements__item {
        grid-column: span 2;
        margin-top: 2em;
        font-size: 1.12rem;
    }

    .nav-item {
        margin-right: 0.7em;

        &-last {
            margin-right: 0.7em;
        }
    }
    .nav-item,
    .nav-item-last {
        font-size: 1.2rem;
    }

    .hero__title h1 {
        font-size: 8.8rem;
    }

    .shows__section--purple {
        margin-bottom: 6em;

        p {
            font-size: 1.15rem;
        }
    }

    .shows__adhd img {
        width: 90%;
    }

    .shows__adhd .adhd-video {
        width: 70%;
    }
    .stardust-vid {
        padding-top: 2em;
        height: 320px;
    }

    .shows .flowerpot-img {
        width: 50%;
    }

    .shows__bastards {
        ul {
            margin-left: 13%;
            width: 90%;

            li {
                font-size: 1.123rem;
                padding-top: 1em;
                .whitespace {
                    margin-left: 0em;
                }
            }

            i {
                padding-right: 2em;
            }
        }
    }

    .section__img {
        width: 46%;
        margin-right: 1em;
    }

    .section__img--manifesto {
        width: 90%;
        margin-inline: auto;
        margin-block: 3em;
        max-width: 700px;
    }

    .section__img--link.large-screen {
        width: 100%;
        max-width: 700px;
        margin-bottom: 0;
        height: 315px;
    }

    .vid-ant {
        max-width: 700px;
        margin-block: 0;
        width: 50%;
    }

    .hero__title h1 {
        font-size: 4.4rem;
    }
    .hero__title .hero__sub {
        font-size: 2.8rem;
    }

    .shows__bastards img {
        width: 60%;
    }

    #testimonal-slider .test-slide {
        &__1,
        &__2,
        &__3,
        &__4,
        &__5,
        &__6 {
            h3 {
                font-size: 2rem;
            }
            h5 {
                font-size: 1.4rem;
            }
            p {
                font-size: 1.2rem;
            }
        }
    }

    .row {
        align-items: center;
    }
    .dora_email_main {
        font-size: 2rem;
    }
    .hero .hero__sub {
        bottom: 15%;
        left: 25%;
        width: 100%;
        max-width: 50%;
        text-align: center;
    }
    .image-back img {
        width: 50%;
    }
    .adhd-slider-images {
        width: 70%;
    }
    .achiements__list.large-screen dl dd {
        font-size: 1em;
    }
    .about-me__body--text {
        width: 90%;
        margin-inline: auto;
        font-size: 1.2rem;
    }
    .overlay-inner {
        max-width: 700px;
    }
    .overlay img {
        max-height: 700px;
    }
    .shows__gallery__linkText.lrg-screen {
        font-size: 2rem;
    }
    .shows__gallery-link {
        margin-block: 7em;
    }

    .tour {
        &__list__item {
            display: grid;
            grid-template-columns: repeat(4, 1fr);

            h3 {
                grid-column: 1/3;
            }
            p {
                grid-column: 1/3;
            }
            a {
                grid-column: 3/-1;
                grid-row: 1/3;
                place-self: center;
            }
        }
        &__video {
            width: 85%;
            height: 50vh;
        }
    }
}

/* xl = 1200px */
@include media-xl {
    .nav-item,
    .nav-item-last {
        font-size: 1.4rem;
    }

    .about-me .dora-selfie {
        width: 60%;
    }

    .shows__adhd p {
        font-size: 1.2rem;
    }

    .para2 {
        padding-top: 3em;
    }

    .shows__adhd .adhd-video {
        width: 80%;
        height: 600px;
    }
    .shows__flowerpot__text,
    .shows__flowerpot .review {
        font-size: 1.2rem;
    }

    .shows__weareallstardust p {
        font-size: 1.2rem;
    }

    .stardust-vid {
        padding-top: 1em;
        height: 400px;
    }

    .colonial__bio {
        width: 70%;
        margin-inline: auto;
        word-spacing: 5px;
    }

    .shows__bastards p {
        font-size: 1.4rem;
    }

    .shows__bastards ul li {
        font-size: 1.4rem;
    }

    .shows__bastards img {
        width: 60%;
    }

    .shows__title,
    .about-me__title,
    .media__title {
        font-size: 5rem;
    }
    .about-me__title {
        padding: 0.4em 0 0.5em;
    }

    .hero__title h1 {
        font-size: 6rem;
    }
    .hero__title .hero__sub {
        font-size: 4rem;
    }

    .backing-img {
        background-attachment: fixed;
    }

    .hero .image-back {
        background-attachment: fixed;
    }

    .media .music {
        // margin-top:7.4em;

        height: 325px;
        width: 90%;
    }

    .new__font {
        font-size: 5rem;
    }
    .hero .hero__sub {
        bottom: 40%;
        left: 25%;
        width: 100%;
        max-width: 50%;
        text-align: center;
    }
    .image-back img {
        width: 40%;
    }
    .about-me__body--text {
        width: 80%;
        margin-inline: auto;
        font-size: 1.4rem;
    }
    .overlay-inner {
        max-width: 800px;
    }
    .overlay img {
        max-height: 1200px;
    }
    .layer2,
    .layer1 {
        height: 200px;
    }
}

/* xxl = 1400px */
@include media-xxl {
    .hero__title h1 {
        font-size: 8rem;
    }
    .hero__title .hero__sub {
        font-size: 4rem;
    }

    .nav-item,
    .nav-item-last {
        font-size: 2.6rem;
    }

    .nav-item,
    .nav-item-last {
        font-size: 1.2rem;
    }
    .hero .hero__sub {
        bottom: 20%;
        // left: 25%;

        max-width: 50%;
        text-align: center;
    }
    .image-back img {
        width: 50%;
    }
    .hero .image-back {
        text-align: center;
        background-position: top center;
    }
    .layer2,
    .layer1 {
        height: 240px;
    }
}
