/* sm577 - 768px*/
@include media-sm {
    .contact .card .facebook {
        margin-right: 5em;
    }
}

/* md = 768px - 992px*/
@include media-md {
    .container-fluid {
        width: 80%;
    }
    .about-me .dora-selfie {
        width: 40%;
    }
    .shows__bastards {
        ul {
            margin-left: 13%;
            width: 90%;

            li {
                .whitespace {
                    margin-left: 6.5em;
                }
            }

            i {
                padding-right: 2em;
            }
        }
    }

    .adhd-slider-images {
        width: 80%;
    }

    .media .music {
        width: 70%;
    }

    .contact .card2 {
        margin-top: 0em;
    }

    .contact .card .facebook {
        margin-right: 3em;
    }

    .hero__title h1 {
        font-size: 5.3rem;
        padding: 0.5em 0;
    }
    .hero__title .hero__sub {
        font-size: 3rem;
        padding-top: 1.8em;
    }

    .shows__bastards img {
        width: 75%;
    }
    .tour__poster {
        width: 70%;
        // height: 200px;
        // margin-right: 1rem;
        // margin-top: 5rem;
    }
    .dates-center {
        display: flex;
        align-items: center;
    }
    .flex-dates p {
        font-size: 1rem;
    }
    .dora_email_main {
        font-size: 1.6rem;
    }
    .hero .hero__sub {
        max-width: 90%;
    }
}

/* lg = 992px - 1200px*/
@include media-lg {
    .nav-item {
        margin-right: 0.7em;

        &-last {
            margin-right: 0.7em;
        }
    }
    .nav-item,
    .nav-item-last {
        font-size: 1.2rem;
    }

    .hero__title h1 {
        font-size: 8.8rem;
    }

    .shows__adhd img {
        width: 80%;
    }

    .shows__adhd .adhd-video {
        width: 70%;
    }
    .stardust-vid {
        padding-top: 2em;
        height: 320px;
    }

    .shows .flowerpot-img {
        width: 50%;
    }

    .shows__bastards {
        ul {
            margin-left: 13%;
            width: 90%;

            li {
                font-size: 1.123rem;
                padding-top: 1em;
                .whitespace {
                    margin-left: 0em;
                }
            }

            i {
                padding-right: 2em;
            }
        }
    }

    .hero__title h1 {
        font-size: 4.4rem;
    }
    .hero__title .hero__sub {
        font-size: 2.8rem;
    }

    .shows__bastards img {
        width: 60%;
    }

    #testimonal-slider .test-slide {
        &__1,
        &__2,
        &__3,
        &__4,
        &__5,
        &__6 {
            h3 {
                font-size: 2rem;
            }
            h5 {
                font-size: 1.4rem;
            }
            p {
                font-size: 1.2rem;
            }
        }
    }
    .tour__poster {
        width: 100%;
        height: 250px;
        padding-right: 0;
        margin: 0;
        // margin-top: 3rem;
    }
    .flex-dates p {
        font-size: 1.4rem;
    }
    .tour h3 {
        font-size: 2rem;
    }
    .tour-container {
        max-width: 1150px;
        width: 90%;
        margin: 0 auto;
    }
    .row {
        align-items: center;
    }
    .dora_email_main {
        font-size: 2rem;
    }
    .hero .hero__sub {
        bottom: 9%;
        left: 25%;
        width: 100%;
        max-width: 50%;
        text-align: center;
    }
    .image-back img {
        width: 50%;
    }
    .adhd-slider-images {
        width: 70%;
    }
}

/* xl = 1200px */
@include media-xl {
    .nav-item,
    .nav-item-last {
        font-size: 1.4rem;
    }

    .about-me .dora-selfie {
        width: 60%;
    }

    .shows__adhd p {
        font-size: 1.5rem;
    }

    .para2 {
        padding-top: 3em;
    }

    .shows__adhd .adhd-video {
        width: 80%;
        height: 600px;
    }
    .shows__flowerpot__text,
    .shows__flowerpot .review {
        font-size: 1.8rem;
    }

    .shows__weareallstardust p {
        font-size: 1.6rem;
    }

    .stardust-vid {
        padding-top: 1em;
        height: 400px;
    }

    .shows__bastards p {
        font-size: 1.6rem;
    }

    .shows__bastards ul li {
        font-size: 1.4rem;
    }

    .shows__bastards img {
        width: 60%;
    }

    .shows__title,
    .about-me__title,
    .media__title {
        font-size: 5rem;
    }
    .about-me__title {
        padding: 0.4em 0 0.5em;
    }

    .hero__title h1 {
        font-size: 6rem;
    }
    .hero__title .hero__sub {
        font-size: 4rem;
    }

    .backing-img {
        background-attachment: fixed;
    }

    .hero .image-back {
        background-attachment: fixed;
    }

    .media .music {
        // margin-top:7.4em;

        height: 325px;
        width: 90%;
    }

    .media .music-player {
        //
    }
    .tour {
        h2 {
            font-size: 3.1rem;
        }
        h3 {
            font-size: 2rem;
        }
        .flex-dates {
            font-size: 1.2rem;
        }
        &__blurb {
            font-size: 1.125rem;
            max-width: 900px;
        }
        &__quote {
            font-size: 1rem;
            max-width: 900px;
        }
    }
    .tour__poster {
        width: 100%;
    }

    .new__font {
        font-size: 5rem;
    }
    .hero .hero__sub {
        bottom: 9%;
        left: 25%;
        width: 100%;
        max-width: 50%;
        text-align: center;
    }
    .image-back img {
        width: 40%;
    }
}

/* xxl = 1400px */
@include media-xxl {
    .hero__title h1 {
        font-size: 8rem;
    }
    .hero__title .hero__sub {
        font-size: 4rem;
    }

    .nav-item,
    .nav-item-last {
        font-size: 2.6rem;
    }

    .nav-item,
    .nav-item-last {
        font-size: 1.2rem;
    }
    .hero .hero__sub {
        bottom: 9%;
        // left: 25%;

        max-width: 50%;
        text-align: center;
    }
    .image-back img {
        width: 50%;
    }
    .hero .image-back {
        text-align: center;
    }
}
