.resources {
    // background-color: #fefeff;
    background-color: #f6f5f5;
    background-image: url("https://www.transparenttextures.com/patterns/cream-dust.png");

    article {
        h3 {
            text-shadow: rgb(180, 180, 180) 0px 1px 1px;
        }
    }

    h1 {
        text-align: center;
        margin-top: 1em;
        margin-bottom: 1em;
    }

    p {
        margin-block: 3em;
        font-size: 1.125rem;
        line-height: 1.8;
        letter-spacing: 0.03em;
    }

    blockquote {
        background-color: $green-color;
        padding-inline: 1em;
        padding-block: 0.01em;
        border-radius: 10px;
        color: white;
        margin-bottom: 5em;
        max-width: 800px;
        margin-inline: auto;
    }

    img {
        max-width: 100%;
    }

    &__intro {
        background-color: $green-color;
        color: white;
        padding-block: 2em;
        padding-inline: 3em;
        border-radius: 5px;
        margin-top: 3em;
        margin-bottom: 5em;
    }

    &__shame {
        &__sub.title {
            span {
                font-size: 2rem;
                color: rgb(187, 2, 39);
            }
            color: $secondary-color;
            font-weight: bold;
        }
        &__bears {
            margin-top: 2em;
            display: flex;
            flex-direction: column;
            align-items: center;

            &__img {
                width: 70%;
                margin-inline: auto;
            }
        }

        &__question.bold {
            font-weight: bold;
            text-align: center;
            font-size: 1.3rem;
            margin-block: 4em;
        }

        &__quote__title {
            text-align: center;
        }
    }

    &__challenges {
        h2 {
            margin-block: 6em;
        }
        h3 {
            margin-top: 2em;
        }
        &__image {
            text-align: center;
        }
    }

    &__section__cards {
        &__sub {
            margin-block: 2em;
            text-align: center;
        }
        h2 {
            margin-top: 6em;
            margin-bottom: 3em;
        }

        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

        gap: 1em;

        &__sub.title {
            color: $secondary-color;
            font-weight: bold;
        }
        &__finance {
            text-align: center;
            li {
                list-style: none;
                padding: 0;
                margin-left: -2em;
                margin-inline: auto;
            }
            p {
                display: flex;
                flex-wrap: wrap;
                font-size: 1rem;
            }
        }

        &__body {
            padding-bottom: 1em;
        }
    }

    &__support-groups {
        margin-top: 7em;
        text-align: center;

        img {
            max-width: clamp(150px, 100%, 600px);
            margin-block: 4em;
        }

        table {
            border-collapse: collapse;
            margin-bottom: 10em;
            width: 100%;
        }

        /* Style the header row */
        th {
            border: 1px solid #0d0c0c;
            padding: 0.5em;
            font-size: 0.8rem;
            text-align: left;
            color: white;
            background-color: $green-color;
        }

        /* Style the data cells */
        td {
            font-size: 0.8rem;
            border: 1px solid #0b0a0a;
            padding: 0.5em;
            word-wrap: break-word;
        }
    }
}

.centered {
    margin-inline: auto;
}

.card {
    position: relative;
    background-color: $green-color;
    color: white;
    padding-inline: 1em;
    padding-block: 3em;
    border-radius: 10px;
    margin-block: 1em;
    max-width: 600px;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
        0 4px 6px -4px rgb(0 0 0 / 0.1);

    ul {
        line-height: 1.7em;
    }

    a {
        border: 2px solid white;
        padding: 1em;
        background-color: $secondary-color;
        color: white;
        border-radius: 5px;
        box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
            0 4px 6px -4px rgb(0 0 0 / 0.1);
        display: flex;
        justify-content: center;
        position: absolute;
        bottom: 20px;
        margin-inline: 0.5em;
        font-size: 0.8rem;
        min-width: 150px;
    }

    &-label {
        position: absolute;
        top: -40px;
        right: 5px;
        border: 1px solid white;
        border-radius: 20px;
        padding-inline: 0.5em;
        font-size: 0.9rem !important;
        background-color: $secondary-color;
    }
}

#fancy {
    --b: 6px; /* control the border thickness */
    --w: 80px; /* control the width of the line*/
    --g: 15px; /* control the gap */
    --c: #0b486b;

    width: fit-content;
    padding: 0 1em;
    line-height: 1.6em;
    border: 1px solid;
    color: #fff;
    background: conic-gradient(from 45deg at left, var(--c) 25%, #0000 0) 0,
        conic-gradient(from -135deg at right, var(--c) 25%, #0000 0) 100%;
    background-size: 51% 100%;
    background-origin: border-box;
    background-repeat: no-repeat;
    border-image: linear-gradient(
            #0000 calc(50% - var(--b) / 2),
            var(--c) 0 calc(50% + var(--b) / 2),
            #0000 0
        )
        1/0 var(--w) / calc(var(--w) + var(--g));
    margin-inline: auto;
}
