.resources {
    // background-color: #fefeff;
    background-color: #f6f5f5;
    background-image: url("https://www.transparenttextures.com/patterns/cream-dust.png");

    article {
        margin-block: 7em;

        h3 {
            text-shadow: rgb(180, 180, 180) 0px 1px 1px;
        }
    }

    h1 {
        text-align: center;
        margin-top: 1em;
        margin-bottom: 1em;
    }

    p {
        margin-block: 3em;
        font-size: 1.125rem;
        line-height: 1.8;
        letter-spacing: 0.03em;
    }

    blockquote {
        background-color: $green-color;
        padding-inline: 1em;
        padding-block: 0.01em;
        border-radius: 10px;
        color: white;
        margin-bottom: 5em;
        max-width: 800px;
        margin-inline: auto;
    }

    img {
        max-width: 100%;
    }

    &__intro {
        background-color: $green-color;
        color: white;
        padding-block: 2em;
        padding-inline: 3em;
        border-radius: 5px;
        margin-top: 3em;
        margin-bottom: 5em;
    }

    &__shame {
        &__bears {
            margin-top: 2em;
            display: flex;
            flex-direction: column;
            align-items: center;

            &__img {
                width: 70%;
                margin-inline: auto;
            }
        }

        &__question.bold {
            font-weight: bold;
            text-align: center;
            font-size: 1.5rem;
            margin-block: 4em;
        }
    }

    &__challenges {
        h2 {
            margin-block: 6em;
        }
        h3 {
            margin-top: 2em;
        }
    }

    &__section__cards {
        h2 {
            margin-top: 6em;
            margin-bottom: 3em;
        }
    }

    &__support-groups {
        margin-top: 7em;
        text-align: center;

        img {
            max-width: clamp(400px, 100%, 900px);
            margin-block: 4em;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 10em;
        }

        /* Style the header row */
        th {
            border: 1px solid #0d0c0c;
            padding: 8px;
            text-align: left;
            color: white;
            background-color: $green-color;
        }

        /* Style the data cells */
        td {
            border: 1px solid #0b0a0a;
            padding: 8px;
        }
    }
}

.card {
    background-color: $green-color;
    color: white;
    padding-inline: 1em;
    padding-block: 3em;
    border-radius: 10px;
    margin-block: 1em;
    max-width: 800px;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
        0 4px 6px -4px rgb(0 0 0 / 0.1);

    ul {
        line-height: 1.7em;
    }

    a {
        border: 2px solid white;
        padding: 1em;
        background-color: $secondary-color;
        color: white;
        border-radius: 5px;
        box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
            0 4px 6px -4px rgb(0 0 0 / 0.1);
    }
}

#fancy {
    --b: 6px; /* control the border thickness */
    --w: 80px; /* control the width of the line*/
    --g: 15px; /* control the gap */
    --c: #0b486b;

    width: fit-content;
    padding: 0 1em;
    line-height: 1.6em;
    border: 1px solid;
    color: #fff;
    background: conic-gradient(from 45deg at left, var(--c) 25%, #0000 0) 0,
        conic-gradient(from -135deg at right, var(--c) 25%, #0000 0) 100%;
    background-size: 51% 100%;
    background-origin: border-box;
    background-repeat: no-repeat;
    border-image: linear-gradient(
            #0000 calc(50% - var(--b) / 2),
            var(--c) 0 calc(50% + var(--b) / 2),
            #0000 0
        )
        1/0 var(--w) / calc(var(--w) + var(--g));
    margin-inline: auto;
}
