$primary-color: #ffc107;
$secondary-color: #ba55d3;
$darkviolet: #9932cc;
$green-color: hsl(120, 37%, 52%);

$green-color1: hsl(120, 42%, 59%);
// original: #5cb85c

// yellow shade = #e8bb34
// $primary-color: #ffc107;

/****** fonts ******/

$headerfont: "Oswald", sans-serif;
$primaryfont: "Roboto", sans-serif;
$secondaryfont: "Raleway", sans-serif;

/******* font sizes *******/

$headersize: 5rem;
$subtitlesize: 3.5rem;
$titles: 3.5rem;
$paragraphsize: 1rem;

@mixin transition-ease {
    transition: all 0.5s ease-in-out;
}

/******** breakpoints  *************/
@mixin media-sm {
    @media screen and (min-width: 577px) {
        @content;
    }
}

@mixin media-md {
    @media screen and (min-width: 768px) {
        @content;
    }
}
@mixin media-lg {
    @media screen and (min-width: 992px) {
        @content;
    }
}
@mixin media-xl {
    @media screen and (min-width: 1200px) {
        @content;
    }
}
@mixin media-xxl {
    @media screen and (min-width: 1400px) {
        @content;
    }
}
