/****** fonts ******/
/******* font sizes *******/
/******** breakpoints  *************/
.hero {
  text-align: center;
  background: hsl(120, 37%, 52%);
  background-image: url("https://www.transparenttextures.com/patterns/lyonnette.png");
  background-blend-mode: overlay;
}
.hero .image-back {
  position: relative;
  height: 100vh;
  width: 100%;
  height: 100vh;
  background: linear-gradient(to right, rgba(186, 85, 211, 0.3), rgba(87, 178, 87, 0.2)), url("../images/dora-jump-adhd.jpeg") center center;
  -webkit-background-size: auto 100%;
  -o-object-fit: contain;
     object-fit: contain;
  background-repeat: no-repeat;
  background-attachment: scroll;
}
.hero .image-back img {
  box-shadow: 0px 0px 30px 10px #dad8d5;
  border-radius: 50%;
  margin-bottom: 4em;
}
.hero__title {
  justify-content: center;
}
.hero__title h1 {
  font-size: 5rem;
  font-family: "Oswald", sans-serif;
  color: #ffc107;
  padding: 0 0 0.5em 0;
}
.hero__title .violet {
  opacity: 0;
}
.hero__title .dorav {
  opacity: 0;
}
.hero__title .colquhoun {
  opacity: 0;
}
.hero .hero__sub {
  position: absolute;
  bottom: 20%;
  left: 10px;
  color: #ba55d3;
  font-size: 3.5rem;
  font-family: "Raleway", sans-serif;
  opacity: 0;
  width: 90%;
  text-align: center;
  text-shadow: 1px 1px 3px #e8e2cc;
}

.tour {
  background-color: #44c8f0;
  text-align: center;
  font-family: "Raleway", sans-serif;
}
.tour__list__item h3 {
  color: black;
  text-shadow: white 1px 1px 5px;
  font-weight: bold;
  margin-top: 1.2em;
}
.tour__list__item p {
  font-weight: bold;
}
.tour__video {
  width: 100%;
  height: 40vh;
  margin-bottom: 2em;
}
.tour__press-info {
  border: 2px solid rgba(186, 85, 211, 0.3);
  max-width: 800px;
  margin-inline: auto;
  margin-bottom: 3em;
  border-radius: 8px;
  padding: 2em 3em;
  background-color: rgb(249, 247, 247);
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 8px 10px -6px rgba(0, 0, 0, 0.1);
}
.tour__press-title {
  font-size: 1.2rem;
  color: #9932cc;
}
.tour__press-link {
  font-size: 1.2rem;
}

.tour-btn {
  font-size: 10px;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  font-weight: bold;
  padding: 1.2em 2.2em;
  border: 3px solid rgb(46, 173, 227);
  border-radius: 2px;
  position: relative;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
  color: #ac4d3c;
  text-decoration: none;
  transition: 0.3s ease all;
  z-index: 1;
  margin-bottom: 1.5em;
}

.tour-btn:before {
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: "";
  background-color: #f7ce29;
  z-index: -1;
}

.tour-btn:hover,
.tour-btn:focus {
  color: white;
}

.tour-btn:hover:before,
.tour-btn:focus:before {
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
}

.tour-btn:active {
  transform: scale(0.9);
}

.disabled-btn {
  background: rgb(187, 186, 186);
  border: 3px solid rgba(202, 205, 206, 0.824);
}

nav {
  text-align: center;
}
nav ul {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
}
nav li {
  padding: 0.5em 0;
  font-size: 1.8rem;
  text-shadow: rgb(233, 232, 232) 1px 1px 2px;
}
nav .nav-link {
  color: hsl(120, 37%, 52%);
}
nav .nav-item,
nav .nav-item-last {
  background-image: linear-gradient(90deg, #ffc107, hsl(120, 37%, 52%));
  background-size: 0% 1px;
  background-repeat: no-repeat;
  background-position: left bottom;
}
nav .nav-item:hover,
nav .nav-item-last:hover {
  background-size: 100% 3px;
  transition: all 0.5s ease-in-out;
}

.about-me {
  background-color: #ffc107;
  background-image: url("https://www.transparenttextures.com/patterns/lyonnette.png");
  background-blend-mode: overlay;
  text-align: center;
}
.about-me__title {
  color: #ba55d3;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  text-align: center;
  padding: 0.7em 0;
  font-size: 3.5rem;
  text-shadow: rgb(12, 12, 12) 1px 1px 10px;
}
.about-me .worked-with {
  margin-top: 2em;
  color: hsl(120, 37%, 52%);
  font-size: 1rem;
  text-shadow: rgb(231, 231, 231) 1px 0px 3px;
}
.about-me .dora-selfie {
  width: 60%;
  border-radius: 50px;
  border: #9932cc solid 3px;
}
.about-me__body {
  color: #9932cc;
  font-size: 1rem;
  font-family: "Raleway", sans-serif;
  padding-top: 3em;
  padding-bottom: 3em;
  line-height: 1.8;
}
.about-me__body .achievements__title {
  margin-top: 2em;
}
.about-me__body .matt-quote {
  font-size: 0.8em;
  padding: 1em 0;
  margin-bottom: 5em;
}
.about-me__body--text {
  margin-bottom: 5em;
  text-shadow: 3px 0px 10px #eff2ef;
}
.about-me .achiements__list dl dd {
  font-size: 0.8em;
}
.about-me dd {
  margin-bottom: 2em;
  text-shadow: 1px 0px 9px #bedbbc;
}

.backing-img {
  height: 50vh;
  width: 100%;
  background: url("../images/7.jpg") center center;
  background-size: cover;
  background-attachment: scroll;
}

.achievements__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
}

.achievements__date {
  grid-column: span 4;
  font-weight: bold;
  margin-top: 2em;
}

.achievements__item {
  grid-column: span 4;
}

.testimonials h2 {
  color: #ba55d3;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  text-align: center;
  padding: 0.7em 0;
  font-size: 3rem;
}

.testimonal-slider .carousel-item {
  height: 500px;
}

.shows {
  background: hsl(120, 37%, 52%);
  background-image: url("https://www.transparenttextures.com/patterns/lyonnette.png");
  background-blend-mode: overlay;
}
.shows__title {
  color: #ffc107;
  font-size: 3.5rem;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  text-align: center;
  padding: 1% 0 0%;
}
.shows__adhd {
  text-align: center;
  flex-direction: column;
}
.shows__adhd h3 {
  color: #ba55d3;
  font-family: "Oswald", sans-serif;
  font-size: 3.5rem;
  padding-bottom: 1.25em;
  text-align: center;
}
.shows__adhd img {
  width: 80%;
  text-align: center;
  margin-bottom: 3em;
  border-radius: 10px;
  border: solid #ffc107 5px;
  box-shadow: 10px 10px 10px #ba55d3;
}
.shows__adhd p {
  font-size: 1rem;
  font-family: "Raleway", sans-serif;
  color: #ffd700;
  line-height: 1.5;
  text-align: left;
  letter-spacing: 0.05em;
  text-align: center;
  text-shadow: rgb(109, 109, 109) 0px 0px 3px;
}
.shows__adhd .adhd-video {
  margin-top: 2em;
  margin-bottom: 10em;
  border: solid #ffc107 5px;
  width: 100%;
}
.shows__adhd__title {
  color: #ffd700;
  font-family: "Roboto", sans-serif;
  font-size: 3.5rem;
  margin-bottom: 1em;
}
.shows .feedback {
  font-size: 1.7rem;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: #ffc107;
  padding-top: 1.4em;
}
.shows__flowerpot, .shows__section--purple {
  text-align: center;
}
.shows__flowerpot__title, .shows__section--purple__title {
  color: #ba55d3;
  font-family: "Oswald", sans-serif;
  font-size: 3.5rem;
  font-weight: 500;
  padding-bottom: 1.25em;
  text-align: center;
  text-shadow: 0px 0px 5px #f6f949;
}
.shows__flowerpot__text,
.shows__flowerpot .review, .shows__section--purple__text,
.shows__section--purple .review {
  color: #ba55d3;
  font-size: 1rem;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 1.9;
  text-align: center;
  margin-bottom: 4em;
  text-shadow: 3px 0px 10px #eaeae2;
  letter-spacing: 0.05em;
}
.shows__flowerpot__body, .shows__section--purple__body {
  color: #ba55d3;
  font-size: 1rem;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 1.9;
  text-align: left;
  margin-bottom: 4em;
  text-shadow: 3px 0px 10px #eaeae2;
  letter-spacing: 0.05em;
}
.shows .flowerpot-img,
.shows .section__img {
  border-radius: 10px;
  margin-bottom: 3em;
  border: solid #ba55d3 1px;
  box-shadow: 0px 5px 20px #9932cc;
}
.shows .flowerpot-img--manifesto,
.shows .section__img--manifesto {
  margin-bottom: 3em;
}
.shows .flowerpot-img--link,
.shows .section__img--link {
  margin-bottom: 3em;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 1px 0px 12px yellow;
}
.shows__weareallstardust {
  text-align: center;
}
.shows__weareallstardust h3 {
  color: #ffc107;
  font-family: "Oswald", sans-serif;
  font-size: 3.5rem;
  padding-bottom: 1.25em;
  text-align: center;
  text-shadow: rgb(12, 12, 12) 1px 0px 3px;
}
.shows__weareallstardust p {
  font-size: 1rem;
  font-family: "Raleway", sans-serif;
  color: #ffd700;
  line-height: 1.7;
  text-align: center;
  margin-bottom: 3em;
  text-shadow: rgb(12, 12, 12) 1px 0px 3px;
  letter-spacing: 0.05em;
}
.shows__weareallstardust .stardust-review {
  margin-bottom: 8em;
}
.shows__weareallstardust .stardust-vid {
  width: 100%;
  padding-bottom: 1.5em;
}
.shows__bastards {
  text-align: center;
}
.shows__bastards h3,
.shows__bastards h4 {
  color: #ba55d3;
  font-family: "Oswald", sans-serif;
  font-size: 3.5rem;
  font-weight: 500;
  padding-bottom: 1.25em;
  text-align: center;
  text-shadow: rgb(233, 230, 230) 1px 0px 10px;
}
.shows__bastards p {
  color: #ba55d3;
  font-size: 1rem;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 2;
  text-align: center;
  text-shadow: rgb(214, 212, 212) 1px 0px 1px;
}
.shows__bastards p.colonial__bio {
  margin-bottom: 4em;
}
.shows__bastards ul {
  margin-left: 0;
  list-style: none;
  color: #ba55d3;
  font-size: 1rem;
  font-family: "Raleway", sans-serif;
  margin-bottom: 4em;
}
.shows__bastards ul .mask {
  display: grid;
  grid-template-columns: 1fr 3fr;
}
.shows__bastards ul li {
  text-align: start;
  text-shadow: rgb(214, 212, 212) 1px 0px 1px;
}
.shows__bastards ul li p.colonial__year,
.shows__bastards ul li .colonial__venue {
  font-size: 1.5rem;
  text-decoration: underline;
}
.shows__bastards ul i {
  padding-right: 1em;
}
.shows__bastards img {
  width: 90%;
  margin-bottom: 10em;
  border-radius: 50px;
  border: solid #ba55d3 5px;
  box-shadow: 1px 1px 10px #9932cc;
}
.shows__feedback--paras {
  margin-bottom: 4em;
}
.shows__banner-img {
  margin-top: 5em;
  margin-bottom: 3em;
  max-width: 900px;
  margin-inline: auto;
}
.shows__banner-img img:hover {
  box-shadow: 10px 10px 20px yellow;
}
.shows__gallery-hyperlink {
  text-decoration: none;
}
.shows__gallery-link {
  display: flex;
  flex-direction: column;
  border: solid #ba55d3 2px;
  margin-bottom: 4em;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  background-image: url("https://res.cloudinary.com/dyuhtpg5y/image/upload/v1657814963/take-a-seat/seat/dora-19_o65syn.jpg");
  background-position: 40% 34%;
  -o-object-fit: cover;
     object-fit: cover;
  background-color: #ffc107;
}
.shows__gallery-link:hover {
  box-shadow: 0px 0px 20px rgb(233, 233, 17);
  cursor: pointer;
}
.shows__gallery-link p {
  margin: 0;
  padding-block: 2em;
  text-shadow: 2px 1px 1px rgb(237, 221, 221);
  font-size: 1.6rem;
}
.shows__card {
  border: 2px solid #9932cc;
  margin-block: 1em;
  padding-inline: 0.5em;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.shows__card__title {
  font-size: 1.8rem;
  color: white;
  font-weight: bold;
  text-align: center;
  text-shadow: black -1px 1px 10px;
}
.shows__card.seat {
  background-image: url("https://res.cloudinary.com/dyuhtpg5y/image/upload/w_400,f_auto,q_auto/v1657814979/take-a-seat/seat/dora-1_r2jreu.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.shows__card.seat:hover {
  transform: rotateX(10deg) rotateY(-10deg);
  box-shadow: 2px 10px 50px hsla(0, 100%, 100%, 0.55);
  transition: 0.5s;
}
.shows__card.adhd {
  background-image: url("../images/adhdnew.JPG");
  background-size: cover;
  background-repeat: no-repeat;
}
.shows__card.adhd:hover {
  transform: rotateX(10deg) rotateY(-10deg);
  box-shadow: 2px 10px 50px hsla(0, 100%, 100%, 0.55);
  transition: 0.5s;
}
.shows__card.flowerpot {
  background-image: url("../images/new6.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.shows__card.flowerpot:hover {
  transform: rotateX(10deg) rotateY(-10deg);
  box-shadow: 2px 10px 50px hsla(0, 100%, 100%, 0.55);
  transition: 0.5s;
}
.shows__card.bastards {
  background-image: url("../images/bastards.webp");
  background-size: cover;
  background-repeat: no-repeat;
}
.shows__card.bastards:hover {
  transform: rotateX(10deg) rotateY(-10deg);
  box-shadow: 2px 10px 50px hsla(0, 100%, 100%, 0.55);
  transition: 0.5s;
}
.shows__card.stardust {
  background-image: url("../images/stardust.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.shows__card.stardust:hover {
  transform: rotateX(10deg) rotateY(-10deg);
  box-shadow: 2px 10px 50px hsla(0, 100%, 100%, 0.55);
  transition: 0.5s;
}
.shows__grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2em;
  perspective: 1500px;
}

.shows__gallery__linkText {
  color: rgb(17, 62, 187);
}

.vid-ant {
  margin-block: 4em;
  width: 100%;
}

#testimonal-slider {
  text-align: center;
  padding-bottom: 6em;
}
#testimonal-slider .carousel-item {
  max-height: 1000px;
}
#testimonal-slider .test-slide__1, #testimonal-slider .test-slide__3, #testimonal-slider .test-slide__5, #testimonal-slider .test-slide__7 {
  background: #ba55d3;
  background-image: linear-gradient(#9932cc, #9370db);
  color: #ffc107;
  font-family: "Raleway", sans-serif;
}
#testimonal-slider .test-slide__1 h3, #testimonal-slider .test-slide__3 h3, #testimonal-slider .test-slide__5 h3, #testimonal-slider .test-slide__7 h3 {
  padding: 1.5em 0;
}
#testimonal-slider .test-slide__1 h5, #testimonal-slider .test-slide__3 h5, #testimonal-slider .test-slide__5 h5, #testimonal-slider .test-slide__7 h5 {
  padding-bottom: 1.5em;
  font-size: 1rem;
}
#testimonal-slider .test-slide__1 p, #testimonal-slider .test-slide__3 p, #testimonal-slider .test-slide__5 p, #testimonal-slider .test-slide__7 p {
  line-height: 2;
  padding: 0 0.5em;
}
#testimonal-slider .test-slide__2, #testimonal-slider .test-slide__4, #testimonal-slider .test-slide__6 {
  background: #ffc107;
  background-image: linear-gradient(#f6f949, #ffc107);
  color: #ba55d3;
  font-family: "Raleway", sans-serif;
}
#testimonal-slider .test-slide__2 h3, #testimonal-slider .test-slide__4 h3, #testimonal-slider .test-slide__6 h3 {
  padding: 1.5em 0;
}
#testimonal-slider .test-slide__2 h5, #testimonal-slider .test-slide__4 h5, #testimonal-slider .test-slide__6 h5 {
  padding-bottom: 1.5em;
  font-size: 1rem;
}
#testimonal-slider .test-slide__2 p, #testimonal-slider .test-slide__4 p, #testimonal-slider .test-slide__6 p {
  line-height: 2;
  padding: 0 0.5em;
}

.media {
  background: #ffc107;
  text-align: center;
  background-image: url("https://www.transparenttextures.com/patterns/lyonnette.png");
  background-blend-mode: overlay;
}
.media__title {
  color: #ba55d3;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  text-align: center;
  padding-bottom: 1em;
  font-size: 3.5rem;
}
.media #media__video-slider {
  padding: 6em 0 6em 0;
}
.media #media__video-slider .slider-cap {
  color: #9932cc;
  font-size: 1rem;
}
.media .music {
  width: 100%;
  padding-top: 1em;
  text-align: center;
}

#media__img-slider .carousel-item img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  height: 500px;
}

.contact {
  background: hsl(120, 37%, 52%);
  background-image: url("https://www.transparenttextures.com/patterns/lyonnette.png");
  background-blend-mode: overlay;
}
.contact__title {
  text-shadow: white 1px 1px 5px;
}
.contact-me {
  padding-bottom: 3em;
}
.contact h1 {
  color: #ffc107;
  font-size: 3.5rem;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1.5em;
}
.contact .card {
  min-height: 17em;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  background-image: linear-gradient(#9932cc, #9370db);
}
.contact .card h2 {
  padding: 1.2em 0;
  color: #ffc107;
  font-weight: bold;
  font-size: 2.4rem;
}
.contact .card p {
  color: #ffc107;
  font-family: "Raleway", sans-serif;
}
.contact .card i {
  color: #ffc107;
}
.contact .card i:hover {
  opacity: 0.8;
  color: hsl(120, 37%, 52%);
  transition: all 0.5s ease-in-out;
}
.contact .card .facebook {
  margin-right: 1em;
}
.contact .card .btn {
  padding: 0.5em 3em;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
}
.contact .card .btn:hover {
  opacity: 0.8;
  transform: scale(1.1);
  transition: all 0.5s ease-in-out;
}
.contact .card2 {
  margin-top: 3em;
}

footer {
  background: #ffc107;
  padding: 2.5em 0;
  text-align: center;
}
footer p {
  font-family: "Oswald", sans-serif;
  font-size: 1.1rem;
  color: hsl(120, 37%, 52%);
}
footer a {
  font-family: "Roboto", sans-serif;
}
footer a:hover {
  color: #9932cc;
}

.success {
  background: hsl(120, 37%, 52%);
  margin: 0;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.success h2 {
  width: 90%;
  margin: 0 auto;
  padding: 0;
  font-size: 2rem;
  text-align: center;
  line-height: 2;
  text-shadow: white 1px 0px 2px;
}
.success__message {
  color: #ffc107;
  text-align: center;
}

.contact-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.contact__form__container {
  width: 100%;
  max-width: 600px;
  padding: 1em 2em;
  margin: 1em auto;
  border: 5px solid #ffc107;
  border-radius: 10px;
  box-shadow: rgb(0, 0, 0) 0 1px 10px;
  overflow-y: auto; /* Add this property */
  max-height: 80vh;
}
.contact__form__container h2 {
  color: #ffc107;
}
.contact__form__container input,
.contact__form__container textarea {
  width: 100%;
  padding: 0.5em;
}
.contact__form__container label {
  font-size: 1rem;
  color: #ffc107;
}

.success button {
  margin-top: 1em;
  font-family: inherit;
  font-size: 20px;
  background: royalblue;
  color: white;
  padding: 0.7em 1em;
  padding-left: 0.9em;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 16px;
  overflow: hidden;
  transition: all 0.2s;
}

.success button span {
  display: block;
  margin-left: 0.3em;
  transition: all 0.3s ease-in-out;
}

.success button svg {
  display: block;
  transform-origin: center center;
  transition: transform 0.3s ease-in-out;
}

.success button:hover .svg-wrapper {
  animation: fly-1 0.6s ease-in-out infinite alternate;
}

.success button:hover svg {
  transform: translateX(1.2em) rotate(45deg) scale(1.1);
}

.success button:hover span {
  transform: translateX(5em);
}

.success button:active {
  transform: scale(0.95);
}

@keyframes fly-1 {
  from {
    transform: translateY(0.1em);
  }
  to {
    transform: translateY(-0.1em);
  }
}
.dora_email_main {
  color: rgb(145, 79, 164);
  font-size: 1.4rem;
  margin: 1em 0 2em 0;
}

.dora_email {
  text-decoration: underline;
  color: rgb(222, 235, 75);
}

.new__font {
  font-family: "Shrikhand", cursive;
  color: rgb(243, 240, 65);
  font-weight: 300;
}

/* h1,
height,
h3,
h4,
h5,
h6 {
    margin: 0 0 5px 0;
} */
* {
  box-sizing: border-box;
}

.gallery-bg {
  font-family: sans-serif;
  background: #9932cc;
}

.gallery-body {
  margin-inline: auto;
  width: 90%;
  max-width: 1300px;
  padding-block: 4em;
}

/* p {
    margin: 0 0 20px 0;
} */
.close {
  background: none;
  color: black;
  border: 0;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, 100px);
  grid-auto-rows: 100px;
  grid-auto-flow: dense;
}

.item {
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.item img {
  grid-column: 1/-1;
  grid-row: 1/-1;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.item__overlay {
  background: rgba(255, 198, 0, 0.1960784314);
  grid-column: 1/-1;
  grid-row: 1/-1;
  position: relative;
  display: grid;
  justify-items: center;
  align-items: center;
  transition: 0.2s;
  transform: translateY(100%);
}

.item__overlay button {
  background: none;
  border: 2px solid white;
  color: white;
  text-transform: uppercase;
  background: rgba(0, 0, 0, 0.7);
  padding: 5px;
}

.item:hover .item__overlay {
  transform: translateY(0);
  cursor: pointer;
}

.item:hover {
  transform: scale(1.1);
}

.item.v2 {
  grid-row: span 2;
}

.item.v3 {
  grid-row: span 3;
}

.item.v4 {
  grid-row: span 4;
}

.item.height2 {
  grid-column: span 2;
}

.item.height3 {
  grid-column: span 3;
}

.item.height4 {
  grid-column: span 4;
}

.overlay {
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  z-index: 2;
}

.overlay.open {
  display: grid;
  align-items: center;
  justify-items: center;
}

.overlay-inner {
  background: white;
  width: 95%;
  padding: 10px;
  max-height: 100vh;
  overflow: scroll;
}

.overlay img {
  width: 100%;
}

.dialog {
  background-color: #44c8f0;
  border: 1px solid #ffc107;
  position: absolute;
  margin-inline: auto;
  top: 20vh;
  padding: 2em;
  color: white;
  max-height: 900px;
  width: 80vw;
  max-width: 700px;
  opacity: 0.95;
}
.dialog__title {
  font-size: 2.5rem;
  text-shadow: black 1px 1px 1px;
}
.dialog__sub {
  text-shadow: black 1px 1px 5px;
  margin-block: 2em;
  font-size: 1.25rem;
}
.dialog__btn {
  display: inline-block;
  background-color: #4caf50;
  color: white;
  text-align: center;
  padding: 15px 25px;
  text-decoration: none;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 1em;
}
.dialog__btn:hover {
  background-color: #45a049;
}
.dialog__close-btn {
  position: absolute;
  left: 0;
  top: 0;
  padding: 0.1em 0.4em;
  text-align: center;
  border-radius: 20px;
  background-color: #e1e3e1;
  margin-left: 1px;
  margin-top: 1px;
}
.dialog__close-btn:hover {
  cursor: pointer;
  opacity: 0.5;
}

#popup {
  display: none;
}

/* put at bottom */
html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  display: flex;
  height: 100%;
  flex-direction: column;
}

main {
  flex: 1;
}

footer {
  flex-shrink: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.container-fluid {
  max-width: 1200px;
  width: 95%;
  margin: 0 auto;
}

.container {
  max-width: 1200px;
  width: 80%;
  margin: 0 auto;
}

.flex {
  display: flex;
}

hr {
  border-top: 30px dotted #ffc107;
  background: hsl(120, 37%, 52%);
  width: 40%;
  margin: 0 auto;
}

.turnviolet {
  color: #ba55d3;
  transition: all 1s ease-in-out;
}

.fadein {
  transition: all 1s ease-in-out;
}

.spacer {
  aspect-ratio: 960/300;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.layer1 {
  background-image: url("/images/waves.svg");
  height: 140px;
}

.layer2 {
  background-image: url("/images/waves2.svg");
  height: 140px;
}

.fade-in {
  opacity: 0;
  transition: opacity 350ms ease-in;
}

.fade-in.appear {
  opacity: 1;
}

.copy {
  font-size: 0.7rem;
}

/* sm577 - 768px*/
@media screen and (min-width: 577px) {
  .contact .card .facebook {
    margin-right: 5em;
  }
  .overlay-inner {
    max-width: 700px;
  }
}
/* md = 768px - 992px*/
@media screen and (min-width: 768px) {
  .container-fluid {
    width: 80%;
  }
  .about-me .dora-selfie {
    width: 40%;
  }
  .shows__bastards ul {
    margin-left: 13%;
    width: 90%;
  }
  .shows__bastards ul li .whitespace {
    margin-left: 6.5em;
  }
  .shows__bastards ul i {
    padding-right: 2em;
  }
  .adhd-slider-images {
    width: 80%;
  }
  .media .music {
    width: 70%;
  }
  .contact .card2 {
    margin-top: 0em;
  }
  .contact .card .facebook {
    margin-right: 3em;
  }
  .hero__title h1 {
    font-size: 5.3rem;
    padding: 0.5em 0;
  }
  .hero__title .hero__sub {
    font-size: 3rem;
    padding-top: 1.8em;
  }
  .shows__bastards img {
    width: 75%;
  }
  .dates-center {
    display: flex;
    align-items: center;
  }
  .flex-dates p {
    font-size: 1rem;
  }
  .dora_email_main {
    font-size: 1.6rem;
  }
  .hero .hero__sub {
    max-width: 90%;
  }
  .overlay-inner {
    max-width: 600px;
  }
  .overlay img {
    max-height: 700px;
  }
}
/* lg = 992px - 1200px*/
@media screen and (min-width: 992px) {
  .about-me .worked-with {
    font-size: 1.5rem;
    margin-bottom: 4em;
  }
  .achievements__date {
    grid-column: 1/2;
    font-size: 1.12rem;
  }
  .achievements__item {
    grid-column: span 2;
    margin-top: 2em;
    font-size: 1.12rem;
  }
  .nav-item {
    margin-right: 0.7em;
  }
  .nav-item-last {
    margin-right: 0.7em;
  }
  .nav-item,
  .nav-item-last {
    font-size: 1.2rem;
  }
  .hero__title h1 {
    font-size: 8.8rem;
  }
  .shows__section--purple {
    margin-bottom: 6em;
  }
  .shows__section--purple p {
    font-size: 1.15rem;
  }
  .shows__adhd img {
    width: 90%;
  }
  .shows__adhd .adhd-video {
    width: 70%;
  }
  .stardust-vid {
    padding-top: 2em;
    height: 320px;
  }
  .shows .flowerpot-img {
    width: 50%;
  }
  .shows__bastards ul {
    margin-left: 13%;
    width: 90%;
  }
  .shows__bastards ul li {
    font-size: 1.123rem;
    padding-top: 1em;
  }
  .shows__bastards ul li .whitespace {
    margin-left: 0em;
  }
  .shows__bastards ul i {
    padding-right: 2em;
  }
  .section__img {
    width: 46%;
    margin-right: 1em;
  }
  .section__img--manifesto {
    width: 90%;
    margin-inline: auto;
    margin-block: 3em;
    max-width: 700px;
  }
  .section__img--link.large-screen {
    width: 100%;
    max-width: 700px;
    margin-bottom: 0;
    height: 315px;
  }
  .vid-ant {
    max-width: 700px;
    margin-block: 0;
    width: 50%;
  }
  .hero__title h1 {
    font-size: 4.4rem;
  }
  .hero__title .hero__sub {
    font-size: 2.8rem;
  }
  .shows__bastards img {
    width: 60%;
  }
  #testimonal-slider .test-slide__1 h3, #testimonal-slider .test-slide__2 h3, #testimonal-slider .test-slide__3 h3, #testimonal-slider .test-slide__4 h3, #testimonal-slider .test-slide__5 h3, #testimonal-slider .test-slide__6 h3 {
    font-size: 2rem;
  }
  #testimonal-slider .test-slide__1 h5, #testimonal-slider .test-slide__2 h5, #testimonal-slider .test-slide__3 h5, #testimonal-slider .test-slide__4 h5, #testimonal-slider .test-slide__5 h5, #testimonal-slider .test-slide__6 h5 {
    font-size: 1.4rem;
  }
  #testimonal-slider .test-slide__1 p, #testimonal-slider .test-slide__2 p, #testimonal-slider .test-slide__3 p, #testimonal-slider .test-slide__4 p, #testimonal-slider .test-slide__5 p, #testimonal-slider .test-slide__6 p {
    font-size: 1.2rem;
  }
  .row {
    align-items: center;
  }
  .dora_email_main {
    font-size: 2rem;
  }
  .hero .hero__sub {
    bottom: 15%;
    left: 25%;
    width: 100%;
    max-width: 50%;
    text-align: center;
  }
  .image-back img {
    width: 50%;
  }
  .adhd-slider-images {
    width: 70%;
  }
  .achiements__list.large-screen dl dd {
    font-size: 1em;
  }
  .about-me__body--text {
    width: 90%;
    margin-inline: auto;
    font-size: 1.2rem;
  }
  .overlay-inner {
    max-width: 700px;
  }
  .overlay img {
    max-height: 700px;
  }
  .shows__gallery__linkText.lrg-screen {
    font-size: 2rem;
  }
  .shows__gallery-link {
    margin-block: 7em;
  }
  .tour__list__item {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  .tour__list__item h3 {
    grid-column: 1/3;
  }
  .tour__list__item p {
    grid-column: 1/3;
  }
  .tour__list__item a {
    grid-column: 3/-1;
    grid-row: 1/3;
    place-self: center;
  }
  .tour__video {
    width: 85%;
    height: 50vh;
  }
}
/* xl = 1200px */
@media screen and (min-width: 1200px) {
  .nav-item,
  .nav-item-last {
    font-size: 1.4rem;
  }
  .about-me .dora-selfie {
    width: 60%;
  }
  .shows__adhd p {
    font-size: 1.2rem;
  }
  .para2 {
    padding-top: 3em;
  }
  .shows__adhd .adhd-video {
    width: 80%;
    height: 600px;
  }
  .shows__flowerpot__text,
  .shows__flowerpot .review {
    font-size: 1.2rem;
  }
  .shows__weareallstardust p {
    font-size: 1.2rem;
  }
  .stardust-vid {
    padding-top: 1em;
    height: 400px;
  }
  .colonial__bio {
    width: 70%;
    margin-inline: auto;
    word-spacing: 5px;
  }
  .shows__bastards p {
    font-size: 1.4rem;
  }
  .shows__bastards ul li {
    font-size: 1.4rem;
  }
  .shows__bastards img {
    width: 60%;
  }
  .shows__title,
  .about-me__title,
  .media__title {
    font-size: 5rem;
  }
  .about-me__title {
    padding: 0.4em 0 0.5em;
  }
  .hero__title h1 {
    font-size: 6rem;
  }
  .hero__title .hero__sub {
    font-size: 4rem;
  }
  .backing-img {
    background-attachment: fixed;
  }
  .hero .image-back {
    background-attachment: fixed;
  }
  .media .music {
    height: 325px;
    width: 90%;
  }
  .new__font {
    font-size: 5rem;
  }
  .hero .hero__sub {
    bottom: 40%;
    left: 25%;
    width: 100%;
    max-width: 50%;
    text-align: center;
  }
  .image-back img {
    width: 40%;
  }
  .about-me__body--text {
    width: 80%;
    margin-inline: auto;
    font-size: 1.4rem;
  }
  .overlay-inner {
    max-width: 800px;
  }
  .overlay img {
    max-height: 1200px;
  }
  .layer2,
  .layer1 {
    height: 200px;
  }
}
/* xxl = 1400px */
@media screen and (min-width: 1400px) {
  .hero__title h1 {
    font-size: 8rem;
  }
  .hero__title .hero__sub {
    font-size: 4rem;
  }
  .nav-item,
  .nav-item-last {
    font-size: 2.6rem;
  }
  .nav-item,
  .nav-item-last {
    font-size: 1.2rem;
  }
  .hero .hero__sub {
    bottom: 20%;
    max-width: 50%;
    text-align: center;
  }
  .image-back img {
    width: 50%;
  }
  .hero .image-back {
    text-align: center;
  }
  .layer2,
  .layer1 {
    height: 240px;
  }
}/*# sourceMappingURL=main.css.map */