@import './variables';
@import './hero';
@import './nav';
@import './aboutme';
@import './shows';
@import './media';
@import './contact';
@import './animation';
   /* put at bottom */

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

.container-fluid {
max-width: 1200px;
width:80%;
margin: 0 auto;
}

.container {
    max-width: 1200px;
width:80%;
margin: 0 auto;
}

.flex {
    display: flex;
}

hr {
    border-top: 30px dotted $primary-color;;
    background: $green-color;
    width: 40%;
    margin: 0 auto;
}

.turnviolet {
    color: $secondary-color;
    transition: all 1s ease-in-out;
}

.fadein {
    transition: all 1s ease-in-out;
}

.spacer {
    aspect-ratio: 960/300;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.layer1 {
    background-image: url('/images/waves.svg');
    height: 40vh;
}
.layer2 {
    background-image: url('/images/waves2.svg');
    height: 40vh;
}

.fade-in {
    opacity: 0;
    transition: opacity 350ms ease-in;
}

.fade-in.appear {
    opacity: 1;
}

@import './responsive';




