/****** fonts ******/
/******* font sizes *******/
/******** breakpoints  *************/
.hero {
  background: #5cb85c;
  text-align: center;
  height: 100%;
}

.hero__title {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 10em;
}

.hero__title h1 {
  font-size: 6rem;
  font-family: "Oswald", sans-serif;
  color: #ffc107;
  padding-top: 10%;
}

.hero__title .violet {
  color: #BA55D3;
}

.hero__title .hero__sub {
  color: #BA55D3;
  margin-top: 1em;
  font-size: 3.5rem;
  font-family: "Raleway", sans-serif;
  padding-bottom: 3em;
}

nav {
  text-align: center;
}

nav ul {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
}

nav li {
  padding: 0.5em 0;
  font-size: 1.8rem;
}

nav .nav-link {
  color: #5cb85c;
}

.about-me {
  background: #ffc107;
  padding-top: 3em;
  text-align: center;
}

.about-me__title {
  color: #BA55D3;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  text-align: center;
  padding-bottom: 1em;
  font-size: 3.5rem;
}

.about-me .dora {
  border-radius: 100px;
}

.about-me__body {
  color: #9932CC;
  font-size: 1.3rem;
  font-family: "Raleway", sans-serif;
  padding-top: 3em;
  padding-bottom: 3em;
  line-height: 1.8;
}

.about-me__body .achievements__title {
  margin-top: 2em;
}

.about-me__body .matt-quote {
  font-size: 0.8em;
  padding: 1em 0;
}

.about-me .achiements__list dl dd {
  font-size: 0.8em;
}

.shows {
  background: #5cb85c;
}

.shows__title {
  color: #ffc107;
  font-size: 3.5rem;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  text-align: center;
  padding: 10% 0;
}

.shows__adhd {
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.shows__adhd h3 {
  color: #BA55D3;
  font-family: "Oswald", sans-serif;
  font-size: 3.5rem;
  padding-bottom: 1.25em;
  text-align: center;
}

.shows__adhd img {
  width: 80%;
  text-align: center;
  margin-bottom: 3em;
  border-radius: 10px;
  border: solid #ffc107 5px;
  -webkit-box-shadow: 10px 10px 10px #BA55D3;
          box-shadow: 10px 10px 10px #BA55D3;
}

.shows__adhd p {
  font-size: 1.3rem;
  font-family: "Raleway", sans-serif;
  color: #FFD700;
  line-height: 1.5;
  text-align: center;
}

.shows__adhd .adhd-video {
  margin-top: 2em;
  margin-bottom: 10em;
  border: solid #ffc107 5px;
  width: 100%;
}

.shows__flowerpot {
  margin-top: 10em;
  text-align: center;
}

.shows__flowerpot__title {
  color: #BA55D3;
  font-family: "Oswald", sans-serif;
  font-size: 3.5rem;
  font-weight: 500;
  padding-bottom: 1.25em;
  text-align: center;
}

.shows__flowerpot__text,
.shows__flowerpot .review {
  color: #BA55D3;
  font-size: 1.3rem;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 1.9;
  text-align: center;
  margin-bottom: 5em;
}

.shows .flowerpot-img {
  border-radius: 100px;
  width: 80%;
  margin-bottom: 3em;
  border: solid #BA55D3 5px;
  -webkit-box-shadow: 10px 10px 20px #9932CC;
          box-shadow: 10px 10px 20px #9932CC;
}

.shows__weareallstardust {
  margin-top: 10em;
  text-align: center;
}

.shows__weareallstardust h3 {
  color: #ffc107;
  font-family: "Oswald", sans-serif;
  font-size: 3.5rem;
  padding-bottom: 1.25em;
  text-align: center;
}

.shows__weareallstardust p {
  font-size: 1.3rem;
  font-family: "Raleway", sans-serif;
  color: #FFD700;
  line-height: 1.9;
  text-align: center;
  margin-bottom: 3em;
}

.shows__weareallstardust .stardust-review {
  margin-bottom: 8em;
}

.shows__bastards {
  margin-top: 10em;
  text-align: center;
}

.shows__bastards h3, .shows__bastards h4 {
  color: #BA55D3;
  font-family: "Oswald", sans-serif;
  font-size: 3.5rem;
  font-weight: 500;
  padding-bottom: 1.25em;
  text-align: center;
}

.shows__bastards p {
  color: #BA55D3;
  font-size: 1.3rem;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 2;
  text-align: center;
  margin-bottom: 4em;
}

.shows__bastards ul {
  text-align: start;
  list-style: none;
  color: #BA55D3;
  font-size: 1.3rem;
  font-family: "Raleway", sans-serif;
  margin-bottom: 4em;
}

.shows__bastards ul .mask:hover {
  color: #9932CC;
}

.shows__bastards ul i {
  padding-right: 1em;
}

.shows__bastards img {
  margin-bottom: 10em;
  border-radius: 50px;
  border: solid #BA55D3 5px;
  -webkit-box-shadow: 10px 10px 20px #9932CC;
          box-shadow: 10px 10px 20px #9932CC;
}

.media {
  background: #ffc107;
  padding-top: 3em;
  text-align: center;
  padding: 8em 0;
}

.media__title {
  color: #BA55D3;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  text-align: center;
  padding-bottom: 1em;
  font-size: 3.5rem;
}

.media #media__video-slider {
  padding-bottom: 6em;
}

.media #media__video-slider .slider-cap {
  color: #9932CC;
  font-size: 1.3rem;
}

.contact {
  background: #5cb85c;
  padding: 5em 0;
}

.contact-me {
  padding-bottom: 3em;
}

.contact h1 {
  color: #ffc107;
  font-size: 3.5rem;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1.5em;
}

.contact .card {
  height: 103%;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 1.3rem;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#9932CC), to(#9370DB));
  background-image: linear-gradient(#9932CC, #9370DB);
}

.contact .card h2 {
  padding: 1.2em 0;
  color: #ffc107;
  font-weight: bold;
  font-size: 2.4rem;
}

.contact .card p {
  color: #ffc107;
  font-family: "Raleway", sans-serif;
}

.contact .card i {
  color: #ffc107;
}

.contact .card i:hover {
  opacity: 0.8;
  color: #5cb85c;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.contact .card .facebook {
  margin-right: 5em;
}

.contact .card .btn {
  padding: 0.5em 3em;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
}

.contact .card .btn:hover {
  opacity: 0.8;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.contact .card2 {
  margin-top: 3em;
}

footer {
  background: #ffc107;
  padding: 2.5em 0;
  text-align: center;
}

footer p {
  font-family: "Oswald", sans-serif;
}

footer a {
  font-family: "Roboto", sans-serif;
}

footer a:hover {
  color: #9932CC;
}

/* put at bottom */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  max-width: 100%;
}

.container-fluid {
  max-width: 1200px;
  width: 80%;
  margin: 0 auto;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

hr {
  border-top: 30px dotted #ffc107;
  background: #5cb85c;
  width: 40%;
  margin: 0 auto;
}

/* md = 768px */
/* lg = 992px */
/* xl = 1200px */
/* xxl = 1400px */
/*# sourceMappingURL=main.css.map */