@import "./variables";
@import "./hero";
@import "./nav";
@import "./aboutme";
@import "./shows";
@import "./media";
@import "./contact";
@import "./animation";
@import "./adhd";
@import "./gallery-seat";
@import "./dialog";
@import "./slick";
@import "./resources";
@import "./lodger";

/* put at bottom */

html {
    scroll-behavior: smooth;
    height: 100%;
}

body {
    display: flex;
    height: 100%;
    flex-direction: column;
}

main {
    flex: 1;
}

footer {
    flex-shrink: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

.container-fluid {
    max-width: 1200px;
    width: 95%;
    margin: 0 auto;
}

.container {
    max-width: 1200px;
    width: 80%;
    margin: 0 auto;
}

.flex {
    display: flex;
}

hr {
    border-top: 30px dotted $primary-color;
    // background: $green-color;
    width: 40%;
    margin: 0 auto;
}

.turnviolet {
    color: $secondary-color;
    transition: all 1s ease-in-out;
}

.fadein {
    transition: all 1s ease-in-out;
}

.spacer {
    aspect-ratio: 960/300;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.layer1 {
    // yellow top -green bottom
    background-image: url("/images/waves.svg");
    height: 140px;
}

.layer2 {
    background-image: url("/images/waves2.svg");
    height: 140px;
}

.fade-in {
    opacity: 0;
    transition: opacity 350ms ease-in;
}

.fade-in.appear {
    opacity: 1;
}

.copy {
    font-size: 0.7rem;
}

a.disabled {
    pointer-events: none;
    cursor: default;
}

@import "./responsive";
